# common ignores
node_modules

# build files
dist
p5.party.zip
version.js

# build meta files
stats.json
meta.json

# system files
.DS_Store
Icon[\r]

# jest test files
coverage

# production files are often too big for github
production