@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=fallback");

:root {
  --accent-color: #066;
}
html {
  font-family: "Josefin Sans", sans-serif;

  font-weight: 100;
  font-size: 24px;
  line-height: 1.5;
}

body {
  background-color: white;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 0em;
}

a,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-color);
}

body > section {
  max-width: 1200px;
  margin: 0 auto;
}

body > h2 {
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: .75rem;
  max-width: 1200px;
}

.group {
  display: flex;
  flex-wrap: wrap;
}


.group.highlight {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

.group h2 {
  width: 100%;
}

.list {
  min-width: 200px;
  flex: 0 20%;
  margin-bottom: 1em;
}
.list h3 {
  margin: 0;
}

.list p {
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
}

.list ul {
  padding: 0;
}
.list li {
  list-style: none;
}

.bang {
  font-size: .75em;
  border: 1px solid green;
  background: green;
  color: white;
  border-radius: 3px;
  padding: 1px 3px;
  margin: 6px;
}