#party-info {
  font-family: monospace;
  font-size: 12px;

  background-color: #ffcccc;
  position: absolute;
  right: 0;
  top: 0;

  display: none;
}

#party-info.show {
  display: block;
}

#party-info div {
  padding: 10px;
}
#party-info .app {
  background-color: #ffffcc;
}
#party-info .room {
  background-color: #ffffcc;
}
#party-info .id {
  background-color: #ffffcc;
}

#party-info .participant {
  background-color: #ccccff;
}
#party-info .host::after {
  content: " « host";
}
#party-info .me::after {
  content: " « me";
}
#party-info .host.me::after {
  content: " « host+me";
}
#party-info .missing {
  color: rgba(0, 0, 0, 0.3);
}

#party-info .label {
  background-color: #ccffcc;
}
#party-info .record {
  background-color: #ccffff;
}
